<h2>Редактировать книгу</h2>
<form (ngSubmit)="update()" *ngIf="book">
  <input [(ngModel)]="book.title" name="title" placeholder="Название" required />
  <input [(ngModel)]="book.description" name="description" placeholder="Описание" required />
  <input [(ngModel)]="book.author" name="author" placeholder="Автор" required />
  
  <select [(ngModel)]="book.genre" name="genre" required>
    <option *ngFor="let genre of genres" [value]="genre.id">{{ genre.name }}</option>
  </select>

  <select [(ngModel)]="book.publisher" name="publisher" required>
    <option *ngFor="let publisher of publishers" [value]="publisher.id">{{ publisher.name }}</option>
  </select>

  <input [(ngModel)]="book.publication_date" name="publication_date" type="date" required />
  <input [(ngModel)]="book.age_limit" name="age_limit" type="number" required />
  <input [(ngModel)]="book.price" name="price" type="number" required />
  <input [(ngModel)]="book.stock" name="stock" type="number" required />

  <button type="submit">Сохранить</button>
</form>
