<nav class="navbar">
  <div class="logo">BookBazaar</div>
  <ul class="nav-links">
    <li><a routerLink="/">Главная</a></li>
    <li><a routerLink="/catalog">Каталог</a></li>
    <li><a routerLink="/cart">Корзина</a></li>
    <li><a routerLink="/my-orders">Мои заказы</a></li>
    <li><a routerLink="/profile" *ngIf="authService.isLoggedIn()">Профиль</a></li>
    <li><a routerLink="/login" *ngIf="!authService.isLoggedIn()">Войти</a></li>
    <li><a routerLink="/register" *ngIf="!authService.isLoggedIn()">Регистрация</a></li>
    <li><a href="#" (click)="logout()" *ngIf="authService.isLoggedIn()">Выйти</a></li>
  </ul>
</nav>
