<div *ngIf="book">
    <h2>{{ book.title }}</h2>
    <p><strong>Автор:</strong> {{ book.author }}</p>
    <p><strong>Описание:</strong> {{ book.description }}</p>
    <p><strong>Жанр:</strong> {{ book.genre }}</p>
    <p><strong>Издательство:</strong> {{ book.publisher }}</p>
    <p><strong>Дата публикации:</strong> {{ book.published_date }}</p>
    <p><strong>Возрастное ограничение:</strong> {{ book.age_limit }}</p>
    <p><strong>Цена:</strong> {{ book.price }} ₸</p>
    <p><strong>В наличии:</strong> {{ book.quantity }}</p>
  </div>
  