<div class="filter-container">
    <label>Жанр:
      <select [(ngModel)]="selectedGenre">
        <option value="">Все</option>
        <option value="fantasy">Фэнтези</option>
        <option value="history">История</option>
        <option value="science">Наука</option>
      </select>
    </label>
  
    <label>Издательство:
      <select [(ngModel)]="selectedPublisher">
        <option value="">Все</option>
        <option value="ast">АСТ</option>
        <option value="eksmo">Эксмо</option>
        <option value="almaty">АлматыКітап</option>
      </select>
    </label>

    <label>Цена:
        <input type="number" [(ngModel)]="minPrice" placeholder="Мин" style="width: 60px;" />
        —
        <input type="number" [(ngModel)]="maxPrice" placeholder="Макс" style="width: 60px;" />
      </label>
      
      <label>Возраст:
        <select [(ngModel)]="ageLimit">
          <option value="">Любой</option>
          <option value="6+">6+</option>
          <option value="12+">12+</option>
          <option value="16+">16+</option>
          <option value="18+">18+</option>
        </select>
      </label>
      
  
    <button (click)="onApplyFilter()">Применить</button>
  </div>
  