<h2>Мои книги</h2>

<div *ngIf="books.length > 0; else noBooks">
  <table>
    <tr>
      <th>Название</th>
      <th>Автор</th>
      <th>Цена</th>
      <th>Действия</th>
    </tr>
    <tr *ngFor="let book of books">
      <td>{{ book.title }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.price }}</td>
      <td>
        <a [routerLink]="['/edit-book', book.id]">✏️</a>
        <button (click)="deleteBook(book.id)">🗑</button>
      </td>
    </tr>
  </table>
</div>

<ng-template #noBooks>
  <p>У вас пока нет книг</p>
</ng-template>
